/*---------------css reset---------------*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    font-size: 12px;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    background-color: #f7f7f7;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
}

html,
body {
    width: 100%;
    min-height: 100%;

}

html {
    height: 100%;
}

ul {
    list-style-type: none;

}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a,
button {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

/*===============*/
/*FONTS*/
/*===============*/

@font-face {
    font-family: 'Catamaran-Light';
    src: url('../fonts/Catamaran-Light.eot');
    src: url('../fonts/Catamaran-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Catamaran-Light.woff') format('woff'),
    url('../fonts/Catamaran-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran-Regular';
    src: url('../fonts/Catamaran-Regular.eot');
    src: url('../fonts/Catamaran-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Catamaran-Regular.woff') format('woff'),
    url('../fonts/Catamaran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran-Bold';
    src: url('../fonts/Catamaran-Bold.eot');
    src: url('../fonts/Catamaran-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Catamaran-Bold.woff') format('woff'),
    url('../fonts/Catamaran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*===============*/
/*GENERAL STYLES*/
/*===============*/
#header {
    background: url('../img/tumblr_o6j55lTvHR1slhhf0o1_1280.jpg');
    background-position: center center;
    background-size: cover;

}

/*===============*/
/*INDEX STYLES*/
/*===============*/

.wrapper {
    padding: 120px 0px;
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    margin-top: -100px;
    margin-bottom: 75px;
}

.wrapper-content {
    -webkit-transform: skew(0deg, 3deg);
    transform: skew(0deg, 3deg);
}

.header-logo {
    margin: 20px;
}

.menu-icon {
    color: white;
    margin: 20px;
    font-size: 30px;
    display: block;
}

.heading-container {
    margin-top: -50px;
}

.heading {
    font-family: Catamaran-Bold, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 2px;
}

.subheading {
    font-family: Catamaran-Light, sans-serif;
    color: white;
    font-size: 30px;
}

.button-container {
    margin-top: 25px;
}

.button {
    display: inline;
    padding: 5px 30px;
    margin-right: 15px;
    font-family: Catamaran-Light, sans-serif;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid white;

}

.button:hover, .button:focus {
    border: none;
    color: #889092;
    padding: 10px 34px;
    background: white;
    text-decoration: none;
    letter-spacing: 1px;
}

@media (max-width: 980px) {
    .heading-container {
        margin-top: 30px;
    }

    .button-container {
        padding: 0;
    }

    .button {
        padding: 5px 25px;
        margin-right: 10px;
    }
}

.posts-heading {
    color: #756c63;
    font-size: 35px;
    font-family: Catamaran-Bold, sans-serif;
    margin: 0 0 30px 0;
}

.separator {

    width: 50px;
    height: 2px;
    background-color: #aa9d90;
    margin-bottom: 30px;
}

#content {
    margin-bottom: 30px;
}

#footer {
    padding: 20px;
    width: 100%;
    background: #333333;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
}

.footer-text {

    font-size: 18px;
    font-family: Catamaran-bold, sans-serif;
    color: white;
}

.card {
    background: white;
    padding: 15px;
    height: 500px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 0 0 22px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 0 0 22px rgba(0, 0, 0, 0.23);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 0 0 22px rgba(0, 0, 0, 0.23);
    margin-bottom: 20px;
}

.avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.poster-name {
    color: #685e56;
    font-size: 14px;
    font-family: Catamaran-bold, sans-serif;
    margin: 3px;
}

.post-date, .post-comments {
    color: #959393;
    font-size: 13px;
    font-family: Catamaran-light, sans-serif;
    margin: 3px;

}

.post-info {
    margin: 0 0 0 80px;
    padding-top: 7px;
}

.post-info span {
    margin-right: 4px;
}

.post-title {
    font-family: Catamaran-bold, sans-serif;
    font-size: 18px;
    color: #5f5850;
    margin: 30px 0;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 20px; /* fallback */
    max-height: 40px; /* fallback */

}

.post-title:hover {
    color: #3f3b35;
    cursor: pointer;
    text-decoration: none;
}

.post-cover {
    margin-bottom: 30px;
    /*max-height: 150px;*/
    height: 120px;
}

.post-excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-height: 20px; /* fallback */
    max-height: 100px; /* fallback */
    font-size: 16px;
    font-family: Catamaran-light, sans-serif;
    margin: 3px 3px 30px 3px;
    color: #5f5851;
}

.read-more {
    font-family: Catamaran-bold, sans-serif;
    color: #6b635b;
    font-size: 16px;
}

.read-more:hover {
    color: #302c29;
    text-decoration: none;

}

.pagination-ul {
    font-family: Catamaran-bold, sans-serif;
    color: #6b635b;
    font-size: 22px;
}

.pagination-ul li {
    display: inline-block;
    margin-right: 4px;
}

.pagination-ul .active, .pagination-ul li a:hover {
    color: #000;
    text-decoration: none;
}

.menu {
    width: 100%;
    height: 100vh;
    background-color: #034e69;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999999;
    opacity: 0.9;
    display: none;

}

.menu-close {
    padding: 20px 0px;
}

.menu-link {
    color: white;
    font-family: Catamaran-light, sans-serif;
    font-size: 40px;
    display: block;
    letter-spacing: 2px;
    margin-bottom: 20px;

}

.menu-link:hover {
    text-decoration: none;
    color: #f7ecb5;
}

.menu-link-container {
    margin-top: 75px;
}

.navbar-collapse {
    border: none;
}

.navbar {
    min-height: 80px;
    border: none;
    /*height:80px;*/
}

.navbar-brand {
    height: 80px;
}

/*======================*/
/*ARTICLE PAGE*/
/*======================*/

.card-big {
    background: white;
    padding: 15px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 0 0 22px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 0 0 22px rgba(0, 0, 0, 0.23);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 0 0 22px rgba(0, 0, 0, 0.23);
    margin-bottom: 20px;
}

.post-big-title {
    font-family: Catamaran-bold, sans-serif;
    font-size: 30px;
    color: #5f5850;
    margin: 30px 10px;
    text-transform: uppercase;

}

.post-body {
    font-size: 18px;
    line-height: 22px;
    font-family: Catamaran-light, sans-serif;
    margin: 30px 10px;
    color: #5f5851;
}

.social-button {
    display: inline-block;
    margin-right: 20px;
}

.comment {
    margin: 10px;
}

.comment-author {
    font-family: Catamaran-bold, sans-serif;
    font-size: 18px;
    color: #5f5850;
    text-transform: uppercase;
    margin-left: 70px;

}

.comment-date {
    font-family: Catamaran-light, sans-serif;
    font-size: 14px;
    color: #5f5850;
}

.comment-body {
    margin-left: 70px;
    font-family: Catamaran-regular, sans-serif;
    font-size: 14px;
    color: #5f5850;
}

textarea {
    resize: vertical;
}

.post-comment {
    padding: 10px 40px;
    color: white;
    background: #5F5850;
    font-family: Catamaran-regular, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    outline: none;

}

.post-comment:hover, .post-comment:focus {
    background: #393530;
    text-decoration: none;
}
.navbar-nav>li>a{
    margin-top:15px;
    color:white!important;
    font-family: Catamaran-regular, sans-serif;
    font-size: 18px;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
    background: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: none;
}
.navbar-collapse{
    border:none;
    box-shadow: none;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: white;
}
.navbar-toggle{
    color:white;
    border:none;
}

.table-element, .dataTables_info,.dataTables_length>label,.dataTables_filter>label{
    color: #080815;
    font-family: Catamaran-regular, sans-serif;
    font-size: 16px;
}
.side-menu-element{
    display: block;
    padding: 10px;
    width:100%;
    color: #766d64;
    font-family: Catamaran-Bold, sans-serif;
    font-size: 18px;
}
.side-menu-container{
    margin-bottom: 20px;
}
.side-menu-element:hover, .side-menu-element:focus, .side-menu-element-active{
    color: #1f1f50;
    text-decoration: none;
}
@media (max-width:1000px ) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color:white!important;
        font-family: Catamaran-regular, sans-serif;
        font-size: 16px;
    }
    .side-menu-element{
        display: inline;
    }
}
.profile-image{
    margin:10px 0px;
}
